<div class="row">
  <div class="col">
    <div class="timeline" *ngIf="courses">
      <div
        class="container"
        *ngFor="let course of courses; let odd = odd"
        [ngClass]="odd ? 'right' : 'left'"
      >
        <div class="content">
          <h3>
            {{ course.dateInit | date: 'MMM-yyyy' }} -
            {{ course.dateEnd | date: 'MMM-yyyy' }}
          </h3>
          <h4>
            {{ course.name }}
          </h4>
          <p>
            {{ course.center }}
          </p>
          <p *ngIf="course.qualify">
            {{ course.qualify }}
          </p>
          <p *ngIf="course.comments">
            {{ course.comments }}
          </p>
          <p *ngIf="course.qualify">
            Qualificación: {{ course.qualify }}
            <a
              *ngIf="course.link"
              [href]="course.link"
              [title]="course.link"
              target="_blank"
              >Verificalo tú mismo...</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
