<div class="jumbotron pb-3">
  <div class="container">
    <h1 class="display-3 text-capitalize">
      {{ 'home.albertReal' | translate }}
    </h1>
    <p>{{ 'home.intro' | translate }}.</p>
    <p>
      {{ 'home.moreInfo' | translate }}:
      <a
        href="mailto:{{ 'home.contactMail' | translate }}?Subject={{
          'home.contactMailSubject' | translate
        }}"
        target="_top"
        >{{ 'home.contactMail' | translate }}</a
      >
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col" *ngIf="targetCard">
      <h2 class="text-capitalize">{{ 'home.nextTarget' | translate }}</h2>
      <app-card [card]="targetCard"> </app-card>
    </div>

    <div class="col" *ngFor="let card of arrCards">
      <h2 class="text-capitalize">{{ 'home.lastUpdates' | translate }}</h2>
      <app-card [card]="card"> </app-card>
    </div>
  </div>
</div>
